.calle{
    text-align: center;
}

.cantidad{
    font-size: 18px;
    vertical-align: middle;
    text-align: right;
}

.objeto{
    font-size: 18px;
}

.carta{
    background-color: #fff9de;
}

.buttonFinal{
    text-align: center;
    width: 100%;
    ion-button{
        width: 50%;
    }
}

hr{
    background: black;
}