<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" (click)="this.backButton()"></ion-back-button>
    </ion-buttons>
    <ion-title>Información</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
  
    <p>Información de la App:</p>
    <br>
    <p>
      Esta app tiene como funcionalidad pedir a un establecimiento de kebab. Donde puedes crear salas de personas para pedir en conjunto.
    </p>

    <p>Aplicación realizada por:</p>
    <br>
    <p>Francisco Garcia Cordoba</p>
    
    <p>Correo de contacto:</p>
    <br>
    <p>ciscu6@gmail.com</p>
    
</ion-content>
