<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" (click)="this.backButton()"></ion-back-button>
    </ion-buttons>
    <ion-title>Información</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="text-align: center; margin-top: 30px;">
    <img src="assets/Ciscu24.png" style="height: 50%; width: 50%; border-radius: 100%; border: 4px solid #b93b4e;">

    <hr>
  
    <p>Información de la App:</p>
    <p>
      Esta app tiene como funcionalidad pedir a un establecimiento de kebab. Donde puedes crear salas de personas para pedir en conjunto.
    </p>

    <hr>

    <p>Aplicación realizada por:</p>
    <p>Francisco Garcia Cordoba</p>
    
    <hr>

    <p>Correo de contacto:</p>
    <p>ciscu6@gmail.com</p>
  </div>
    
    
</ion-content>
