<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Tappa</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div style="text-align: center;" *ngIf="listOrders.length==0">
    <p style="font-size: 18px;">No hay pedidos de momento</p>
    <p style="font-size: 18px;">¿Por que no creas tu uno?</p>
    <img src="assets/logo.png" style="width: 40%;">
  </div>

  <ion-card *ngFor="let order of listOrders" (click)="selectRoom(order.$key)">
    <ion-card-header>
      <ion-row justify-content-between>
        <ion-col col-auto class="image" size="4">
          <img src="{{order.boss.image}}"  style="border-radius: 100%; border: 2px solid #b93b4e;">
        </ion-col>
        <ion-col>
          <ion-row text-wrap>
            <h2>{{order.boss.name}} {{order.boss.surnames}}</h2>
          </ion-row>
          <ion-row text-wrap>
            <p>C/ {{order.street}}</p>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-card-header>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed" (click)="alertStreet()">
    <ion-fab-button class="fabButton">
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
