<ion-header>
  <ion-toolbar>
    <ion-title>Inciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <form [formGroup]="tasks">
    <ion-item>
      <ion-label position="floating">Email</ion-label>
      <ion-input formControlName="email"></ion-input>
    </ion-item>
  
    <ion-item>
      <ion-label  position="floating">Contraseña</ion-label>
      <ion-input  #passwordEyeRegister  [type]="passwordTypeInput" formControlName="password" clearOnEdit="false"></ion-input>
      <button class="btn_eye_icon" (click)="togglePasswordMode()">
          <ion-icon  [name]="(passwordTypeInput === 'text')?'eye-off':'eye'"></ion-icon>
      </button>
    </ion-item>
  
    <ion-text>
      <p><u (click)="hola()">He olvidado mi contraseña</u></p>
    </ion-text>
  
    <ion-text>
      <p>Si aun no te has registrado hazlo <u (click)="changeRegistro()">aqui</u></p>
    </ion-text>
  
    <div class="buttonFinal">
      <ion-button color="primary" type="submit" [disabled]="!tasks.valid" (click)="login()">Iniciar Sesion</ion-button>
    </div>
  </form>

</ion-content>
